.questions-map {
    padding: 20px;
}

.add-button {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 93%;
}

.add-button:hover {
    transform: scale(1.2);
}

.questions-table {
    width: 80%;
    border-collapse: collapse;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.33);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}

.questions-table th,
.questions-table td {
    border: 1px solid rgba(255, 255, 255, 0.18);
    ;

    padding: 8px;
    text-align: left;
    height: 37px;

}

/* .questions-table th {
    border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );;
} */

.info-icon,
.edit-icon,
.delete-icon {
    cursor: pointer;
    margin: 10px;
}

.pagination-container {
    margin-top: 20px;
    text-align: center;
}

.pagination {
    display: inline-block;
}

.first-last {
    cursor: pointer;
    margin: 0 5px;
}

.active {
    background: rgba(134, 167, 137, 0.63);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    color: white;
    padding: 5px 10px;
}

.questions-table {
    width: 100%;
    border-collapse: collapse;
}

.image-column,
.questions-column,
.action-column {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.image-column {
    width: 15%;
}

.questions-column {
    width: 76%;
}

.action-column {
    width: 3%;
}

/* .question-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
   
.question-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
} */